# Ignore all CSV files except for the cities CSV

*.xlsx
*.xls
!city_explorer/datasets/cities/uscities.csv
tabpy_log.log

# Jupyter Notebook dev
*.ipynb

# compressed pandas data
# *.parquet

# Ignore all JSON files
*.json

# archived/compressed files
*.zip
*.7z

# Mac OS-specific storage files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter NB Checkpoints
.ipynb_checkpoints/
lab/
migrated
.Trash-*

# vim
*.swp
*.swo

# vscode
.vscode/settings.json
.vscode/.ropeproject
~POC_Dashboard__27324.twbr
.idea
city_explorer/tabpy_deploy_test.py

# Tabpy Logs
*.log*